
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
<div class="container-fluid">
  <div class="branch-info">
      <div class="branch-info__content">
          <div class="branch-info__item text-white">
              <span class="branch-info__label"><b>Branches:</b></span>
              <span class="branch-info__value">Shamshabad: <a href="tel:9133237733"
                      class="branch-info__link">9133237733</a></span>
          </div>
          <div class="branch-info__separator text-white" aria-hidden="true">|</div>
          <div class="branch-info__item">
              <span class="branch-info__value text-white">Rajamundry: <a href="tel:09100934572"
                      class="branch-info__link">09100934572</a></span>
          </div>
      </div>
  </div>
</div>
 <!---------------------- header------------------------ -->

 <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
      <a class="navbar-brand" href="#"><img src="/logo.png" alt=""
              style="height: 100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                  <a class="nav-link px-3 active fs-5" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-3 fs-5" href="#">courses</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-3 fs-5" href="#">Achievements</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-3 fs-5" href="#">Gallery</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-3 fs-5" href="#">Contact Us</a>
              </li>
          </ul>
          <form class="d-flex">

              <button class="btn btn-submitlog" type="submit">Student Log In</button>
          </form>
      </div>
  </div>
</nav>

<main>
  <section class="hero">
      <div class="container">
          <div class="hero-content">
              <div class="hero-text">
                  <h1>
                      <span class="highlight">One Child,</span>
                      One teacher, one pen and one book
                      <span class="highlight">can change the world</span>
                  </h1>
                  <p>
                      Welcome to
                      <span class="emphasis">KPIAS</span>:
                      Top
                      <span class="emphasis">IAS and Civil Service institute</span>
                      in
                      <span class="emphasis">AP</span>
                      and
                      <span class="emphasis">Telangana</span>
                  </p>
              </div>
              <div class="hero-image">
                  <img src="https://cdn.builder.io/api/v1/image/assets/3decfd4418db4518943b56059f2e2189/3f5213f5c289d9ce0f732f2c16dfe20543111a9f9b19b3a930945f507b06ffa9?apiKey=3decfd4418db4518943b56059f2e2189&"
                      alt="Illustration representing education and change">
              </div>
          </div>
      </div>
  </section>
</main>



 <!-------------------------- about us ----------------------->
 <section class="about-us">
  <div class="container">
      <div class="row">
          <div class="lg-12 col-md-6">
              <img src="india.png" alt="" width="100%">
          </div>
          <div class="lg-12 col-md-6">
              <h6 class="mb-4">About Us</h6>
              <h2 class="mb-5">Developing innovative approaches to student training</h2>
              <p>The Civil Service Examination is a national Wide Competitive Examination in India. The Candidates who are Interested to do Civil Services of the Government of India then this Exam is Right Place for Right Candidate, Which Includes IAS (Indian Administrative Service), IFS ( Indian Foreign Service), IPS (Indian Police Service) and join in our team KPIAS, as we provide you inter with IAS Education with topmost experienced candidates and our Institute is located in Rajahmundry and Hyderabad with Inter Plus IAS and Degree Plus IAS .</p>
              <p>The General Studies of the UPSC Civil Services IAS Prelims Exam is relied upon to be of Intermediate Level. What you have...</p>
              <button type="button" class="btn btn-learnmore mt-4">Learn More</button>
          </div>
      </div>
  </div>
</section>
<!-- ====================Vision & Mission========================================= -->

<section class="vision">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 border-end border-2">
              <img src="mission.png" alt="" width="120px">
              <h3>Our <span class="color-orange">Mission</span> </h3>
              <p>Provide practice based skill trainings using an unique teaching methodologies & skill platform to enhance right skills required in an industry for working professionals, Non-Tech professionals, College students & Start-ups through new skilling, up skilling & re-skilling.</p>
          </div>
          
          <div class="col-12 col-md-6">
              <img src="Frame.png" alt=""  width="120px">
              <h3>Our <span class="color-orange">Vision</span> </h3>
              <p>To transform into a right employee by imparting industry suited IT skills in a corporate office working environment with Holistic approach.</p>
          </div>
      </div>
  </div>
</section>

<!--------------------------- video------------------------- -->

<section class="recent-videos text-center">
  <h3 class="mb-5">Featured <span class="color-orange">Videos</span> </h3>
    <div class="container">
        <div class="content-wrapper">
            <div class="featured-video">
               <iframe class="w-100" width="600" height="400" src="https://www.youtube.com/embed/X0Fm3dcQm1Q" title="KP Sir Inspiration Speech about IAS Officer Amit kataria | 21st Century IAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
            </div>
            <div class="recent-uploads">
                <h2 class="text-start mb-5">Recent Uploaded Videos</h2>
                <div class="thumbnail-grid">
                  <iframe class="w-50" width="200" height="150" src="https://www.youtube.com/embed/Zo53JHn-Gck" title="Revu Mutyala Raju IAS Inspiration Journey that shocks you | Krishna Pradeep Sir | 21st Century IAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <iframe class="w-50" width="200" height="150" src="https://www.youtube.com/embed/X0Fm3dcQm1Q" title="KP Sir Inspiration Speech about IAS Officer Amit kataria | 21st Century IAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            
        </div>
    </div>
    <div class="text-center mt-5 mb-5">
        <a href="https://www.youtube.com/@pkrishnapradeep" target="_blank" class="view-more-btn">View More</a>
    </div>
</section>


<div class="container">
<div class="newsletter-container">
    <div class="newsletter-content">
        <div class="newsletter-title">
            <h2>
                <span>News</span>&nbsp;<span class="highlight">Letter</span>
            </h2>
        </div>
        <div class="newsletter-form-container">
            <form class="newsletter-form" action="#" method="post">
                <label for="emailInput" class="sr-only">Your Email Address</label>
                <input type="email" id="emailInput" name="email" placeholder="Your Email Address"
                    aria-label="Your Email Address" required />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
<!-- ------------------------------footer------------ -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <!-- <div class="footer-nav">
                <img src="https://cdn.builder.io/api/v1/image/assets/3decfd4418db4518943b56059f2e2189/1a86bc64954afcbd1e29bb7d55030407183bca5e0e00bc66b34ba2a955619c1b?apiKey=3decfd4418db4518943b56059f2e2189&" class="footer-logo" alt="Company logo">
                <nav>
                    <ul>
                        <li><a href="#magazine">Magazine</a></li>
                        <li><a href="#daily-quiz">Daily Quiz</a></li>
                        <li><a href="#blog">Blog</a></li>
                    </ul>
                </nav>
            </div> -->
            <div class="container">
                <div class="row">
                <div class="col-md-4">
                    <div class="footer-left">
                        <img src="/wh-logo.png" class="w-100" />
                        <p>Let Us build your career together Be the first person to transform yourself with our unique & world class corporate level trainings.</p>
                    </div>
                </div>
                <div class="col-md-5">
                      <div class="footer-middle">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-right">
                        <div class="footer-rightinner">
                        <h2><span>Quick</span>&nbsp;<span class="highlight">Links</span></h2>
                        <div>
                            <a href="#">Magazine</a>
                            <a href="#">Daily Quiz</a>
                            <a href="#">Blog</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <hr class="footer-divider">
            <div class="footer-info">
                <a href="mailto:info@kpias.net"></a> | 2019 Copyright . Designed and Developed by 21st Century Software Solution Pvt. Ltd.
            </div>
        </div>
    </div>
</footer>
<script>
    var swiper = new Swiper('.swiper-container.swiper-testimonial', {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
    navigation: {
        nextEl: '.swiper-button-next-test',
        prevEl: '.swiper-button-prev-test',
    },
});
</script>

